.myBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid #26aad4;
    cursor: pointer;
    height: 38px;
    width: 162px;

    background: #26819f;
    border-radius: 99px;
}