.reyting-card {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.grid-item {
    box-sizing: border-box;
    text-align: center;
    font-size: 1.1em;
    padding: 1.4em;
}

.reyting-text {
    position: relative;
    height: 20px;
    left: 0px;
    top: 10px;
    text-align: center;
    z-index: 8;
}

.reyting_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: -0.045em;

    /* ULEY Светлый */
    color: #E8F1F9;
}

.reyting_subtitle {
    /* 06.12.2023 | 20:00 */
    /* position: absolute;
    left: 0;
    top: 25px; */

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.045em;

    /* ULEY Светлый */
    color: #E8F1F9;

    opacity: 0.4;
}


.reyting-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 5px; 
    /* width: 124px; */
    height: 22px;
    top: 20px;
  }

  .star-icon {
    width: 20px;
  }







