.star-icon_profile {
    width: 30px;
}

.full-stars {
  text-align: center;
  margin-top: 15px;
}
.full-stars .rating-group {
  display: inline-flex;
}
.full-stars input {
  position: absolute;
  left: -9999px;
}
.full-stars label {
  margin: 0;
  cursor: pointer;
}
.full-stars label svg {
  margin: 2px;
  height: 40px;
  width: 40px;
  fill: #3392FF;
  transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
  fill: #4F5358;
}
.full-stars .rating-group:hover label svg {
  fill: #3392FF;
}
.full-stars .rating-group input:hover ~ label svg {
  fill: #4F5358;
}

.reyting_subtitle {
  color: #777777;
}