.box {
    border-radius: 5px;
    box-shadow: 0px 0px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
    text-align: left;
}

.red {
    border-left: 8px solid var(--red);
}
.orange {
    border-left: 8px solid var(--orange);
}
.yellow {
    border-left: 8px solid var(--yellow);
}
.green {
    border-left: 8px solid var(--green);
}
.blue {
    border-left: 8px solid var(--blue);
}
.purple {
    border-left: 8px solid var(--purple);
}
.gray {
    border-left: 8px solid var(--gray);
}
.brown {
    border-left: 8px solid var(--brown);
}
.pink {
    border-left: 8px solid var(--pink);
}

.post_title {
    font-size: 20px;
}

.subscribe {
    font-size: 16px;
    color: #9590A0;
}

.image_comp {
    padding-right: 5px;
}

.col_span {
    background: #828282;
    border-radius: 99px;
    margin: 0 10px 0 5px;
    padding: 0 5px;
    font-size: 10px;
}

.find_span {
    background: #D1941A;
    font-size: 10px;
    margin: 8px 0;
    padding: 3px 25px;
}