.status_el {
    text-align: left;
    margin-left: 25px;
}

.btn-status {
    border-radius: 99px;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px;
}

.red {
    background: #C8372D;
    border: 1px solid #C8372D;
}
.orange {
    background: #ffa500;
    border: 1px solid #ffa500;
}
.yellow {
    background: #ffff00;
    border: 1px solid #ffff00;
}
.green {
    background: #008000;
    border: 1px solid #008000;
}
.blue {
    background: #0000ff;
    border: 1px solid #0000ff;
}
.purple {
    background: #800080;
    border: 1px solid #800080;
}
.gray {
    background: #808080;
    border: 1px solid #808080;
}
.brown {
    background: #a52a2a;
    border: 1px solid #a52a2a;
}
.pink {
    background: #ffc0cb;
    border: 1px solid #ffc0cb;
}

.buttons_status {
    margin: 0 35px;
    text-align: left;
}